
@{
    ViewBag.Title = "Info";
}
<br />
<br />
<div class="card rounded-0 shadow col-lg-8 offset-lg-2">
    <div class="card-header bg-white"><h2 class="m-0">@ViewBag.Title</h2></div>
    <div class="card-body">
        <p>@ViewBag.Message</p>
    </div>
</div>