@model FATCA_Data_Preparation_and_Transmission_System.Models.EncryptViewModel
@{
    ViewBag.Title = "Download";
    var packageName = Path.GetFileName(ViewBag.PackagePath);
}
<br />
<br />
<div class="card rounded-0 shadow col-lg-8 offset-lg-2">
    <div class="card-header bg-white"><h2 class="m-0">Encrypted package</h2></div>
    <div class="card-body">
        <p>Package <b>@Html.DisplayFor(m => packageName)</b> has been created.</p>

        @using (Html.BeginForm("Index", "Send", new { packagePath = ViewBag.PackagePath }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "text-center" }))
        {

            <button type="submit" class="btn btn-md btn-primary col-md-5 offset-md-3 m-0"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Send to IRS</button>
        }

        @using (Html.BeginForm("DownloadPackage", "Encrypt", new { packagePath = ViewBag.PackagePath }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "text-center" }))
        {
        <button type="submit" class="btn btn-md btn-primary col-md-5 offset-md-3 m-0 mt-3">
            <i class="fa fa-cloud-download" aria-hidden="true"></i> Download
        </button>
        }
               
    </div>
</div>

<script>

    fileLabelsEventHandlers();

    function fileLabelsEventHandlers() {
        $("input[type='file']").each(function() {
            $(this).change(function () {
                let filePath = $(this).prop("value");
                let fileName = filePath.substr(filePath.lastIndexOf("\\") + 1);

                console.log(fileName);

                if (fileName === "") {
                    //fileName = "No file chosen";
                }

                $(".input-group-addon[for='" + $(this).prop("name") + "'] + input").val(fileName);
            });
        });
    }

    function test() {
        console.log("The script is running...");
        var x = $("input[type='file']")[0];
        console.log("filel: " + x.value);
    }

    model1Option2();

    function model1Option2() {
        $("#Model1Option2").change(function () {
            if ($(this).prop("checked"))
                $(".model1Option2").css("display", "flex");
            else
                $(".model1Option2").css("display", "none");
        });
    }

</script>

