
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<div class="card rounded-0 shadow col-8 offset-2">
    <div class="card-header bg-white"><h4 class="m-0">Decrypt</h4></div>
    <div class="card-body">
        This is just a card with a body..
        <p>Test</p>
        <p>Test</p>

        <p>Test</p>
        <p>Test</p>

        <p>Test</p>
        <p>Test</p>
        <p>Test</p>

        <p>Test</p>
        <p>Test</p>

        <p>Test</p>


    </div>
</div>

